@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*, 
*::before, 
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input{
    font-family: "poppins",sans-serif;
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ff8c6b;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 800px;
    background-color:#d59fcf;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0,0,0,0.27);
}

.inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}


form{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;

}

form.sign-up-form{
    opacity: 0;
    pointer-events: none;
}

.logo{
    display: flex;
    size: 30px;
    width: 80px;
    align-items: center;
}

.logo img{
    width: 72px;
    margin: 0.3rem;
}

.heading_name{
    padding-bottom: 20px;
}

.heading h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: #511111;
}

.heading h6{
    color: #bababa;
    font-weight: 400;
    font-size: .75rem;
    display: inline;
}

.toggle{
    color: #151111;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}

.toggle:hover{
    color: #8371fd;
}

.sign-in-form ,.input-wrap{
    position: relative;
}

.input-wrap{
    position: relative;
    height: 15px;
    margin-bottom: 2rem;
    font-size: 5px;
}

.input-field{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: .95rem;
    color: #151111;
    transition: 0.4s;
}

label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: .95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.4s;
}

.input-field.active{
    border-bottom-color: #151111;;
}

.input-field.active + label{
    font-size: .75rem;
    top: -2px;
}

.button{
    padding-bottom: 15px;
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover{
    background-color: #8371fd;
}

main.sign-up-mode form.sign-in-form{
    opacity: 0;
    pointer-events: none;
}

main.sign-up-mode form.sign-up-form{
    opacity: 1;
    pointer-events: all;
}

main.sign-up-mode .forms-wrap{
    left: 55%;
}

main.sign-up-mode .content{
    left: 0%;
}

.content{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    border-radius: 50%;
    /* display: grid;
    grid-template-rows: auto 1fr; */
    transition: 0.8s ease-in-out;
}
#retrobg {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: #a3c;
    background-color: #000;
  }
  
  /* ............................................................... */
  #retrobg-sky {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient( #214 75%, #249 );
  }
  
  /* ............................................................... */
  #retrobg-sunWrap {
    position: relative;
    width: 40%;
    margin-bottom: -15%;
  }
  #retrobg-sun {
    --glow-color: #d44;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient( #fcdf11, #ff623f, #fe2085 50% );
    box-shadow: 0 0 160px 80px var( --glow-color );
    animation: 2s ease infinite alternate retrobg-sun-glow-anim;
  }
  .retrobg-shutdown #retrobg-sun {
    background-image: linear-gradient( #000, #000 40% );
    --glow-color: #000;
  }
  @keyframes retrobg-sun-glow-anim {
    from { box-shadow: 0 0 160px 80px var( --glow-color ); }
    to   { box-shadow: 0 0 200px 95px var( --glow-color ); }
  }
  
  /* ............................................................... */
  #retrobg-stars {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .retrobg-star {
    position: absolute;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: #fff;
  }
  
  /* ............................................................... */
  #retrobg-mountains {
    position: absolute;
    width: 100%;
    height: 30%;
  }
  .retrobg-mountain {
    position: absolute;
    width: 30%;
    height: 100%;
    background-image: linear-gradient( #000 70%, #111 85%, #fff1 );
  }
  #retrobg-mountains-left { left: 0; clip-path: polygon( 0% 100%,0% 55%,5% 60%,10% 55%,20% 50%,25% 42%,30% 38%,33% 35%,40% 45%,50% 50%,60% 70%,70% 85%,75% 82%,80% 91%,85% 90%,90% 95%,95% 98%,100% 100% ); }
  #retrobg-mountains-right { right: 0; clip-path: polygon( 0% 100%,5% 95%,10% 85%,15% 87%,20% 80%,25% 78%,30% 65%,40% 70%,50% 57%,60% 53%,67% 68%,70% 70%,75% 66%,80% 55%,90% 50%,95% 60%,100% 57%,100% 100% ); }
  
  /* ............................................................... */
  #retrobg-cityWrap {
    position: absolute;
    width: 50%;
    margin-left: -1%;
  }
  #retrobg-city {
    padding-top: 20%;
  }
  .retrobg-building {
    position: absolute;
    width: 5%;
    height: 100%;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient( 0deg, rgba( 17, 17, 34, 0 ), #112 30px, #000 );
  }
  .retrobg-building:nth-child( odd ) {
    background-image: linear-gradient( 0deg, rgba( 24, 24, 42, 0 ), #223 30px, #000 );
  }
  .retrobg-antenna::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: calc( -1px - 5% );
    bottom: 100%;
    width: 10%;
    min-width: 2px;
    height: 33%;
    background-color: #000;
  }
  
  /* ............................................................... */
  #retrobg-ground {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 45%;
    bottom: 0;
    border-top: 2px solid #bf578c;
    background-color: #000;
  }
  .retrobg-shutdown #retrobg-ground {
    border-color: #000;
  }
  #retrobg-groundShadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #000 0%, transparent );
  }
  
  /* ............................................................... */
  #retrobg-linesWrap {
    height: 100%;
    perspective: 1000px;
    perspective-origin: center top;
  }
  #retrobg-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top center;
    animation: .35s linear infinite retrobg-lines-anim;
  }
  .retrobg-shutdown #retrobg-lines {
    animation-duration: 5s;
  }
  @keyframes retrobg-lines-anim {
    from { transform: rotateX( 84deg ) translateY( 0 ); }
    to { transform: rotateX( 84deg ) translateY( 100px ); }
  }
  #retrobg-hlines,
  #retrobg-vlines {
    position: absolute;
    left: calc( ( 900% - 100% ) / -2 );
    width: 900%;
    height: 500%;
  }
  #retrobg-vlines {
    display: flex;
    justify-content: center;
  }
  .retrobg-hline,
  .retrobg-vline {
    width: 100%;
    height: 100%;
    background-color: currentColor;
  }
  .retrobg-hline { height: 3px; }
  .retrobg-vline { width: 3px; }
  .retrobg-hline + .retrobg-hline { margin-top: 98px; }
  .retrobg-vline + .retrobg-vline { margin-left: 48px; }


